
body {
    font-size: 16px;
    background-color: #fff;

}

i {
    font-size: 20px;
    font-weight: 500
}

h1, h2, h3, h4, h5, h6, p {
font-family: 'Open Sans', sans-serif, Montserrat,"Helvetica Neue",Helvetica,Arial;
color: #4C4C4C;
font-weight: 400;
}

a {color: #3E6D92;
font-size: 20px
}




section {
padding: 150px 0;
}

section h2.section-heading {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
}


ul.social-buttons {
    margin-top: 10px;
    margin-bottom: 0;
}

ul.social-buttons li a {
display: block;
width: 40px;
height: 40px;
border-radius: 100%;
font-size: 20px;
line-height: 40px;
outline: 0;
color: #fff;
background-color: #222;
-webkit-transition: all .3s;
-moz-transition: all .3s;
transition: all .3s;
}


ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}



/* ---- nav ----  */


.nav i{
    margin-right: 10px;
}



/* ---- about ----  */


#about p.large {
font-size: 20px;
margin: 10px;
}

#about img {
    border: 3px solid #eee;
}

.introText {
margin-top:20px;
border: 5px solid #eee;
border-radius: 3px;
border-left-color: #ffffff;
border-right-color: #ffffff;
}




/* ---- skill ----  */


#skills {
    background-color: #F7F7F7;
}
#skills h2 {
    margin-bottom: 40px;
}
.iconBig {
font-size: 77px;
margin-left: 15px;
color:#8bc349
}

.boxFeature {
    margin-bottom: 40px;
    text-align: center;
}

/* ---- projects ----  */

#projects {
    background-color: #F7F7F7;
}

.img-responsive{
    width: 100%;
    height: auto;
    border:1px solid #eee;
}
.portfolio-item {
    margin-bottom: 15px;
}

.portfolio-item p{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 500;

}

.img-link {
    margin-top: 10px;
    margin-bottom: 0px;
    float:right;
}

#filters {
    margin: 20px 0px;
}

/* ---- contract ----  */

#contact {
    background-color: #F7F7F7;
}

#contact form{
    padding-top:10px;
}


/* ---- footer ----  */


footer {
    margin: 10px 0px;
}

footer p {
    text-align: right;
    color: #999;
}